.planDetail {
  padding: 8px;
  padding-top: 32px;
}
.title {
  padding: 16px 0;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 16px;
  background: var(--background);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 500;
}
.titleAndSteps {
  width: 60%;
}
.main {
  margin-top: 32px;
}
.titles {
  width: 500px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--light-gray);
}
.titles > :first-child {
  margin-bottom: 12px;
}

.main > *:not(:last-child) {
  margin-bottom: 32px;
}
.goal {
  display: flex;
}

.tool {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 25%;
  justify-content: center;
  border-left: 1px solid var(--light-gray);
  padding-left: 12px;
  margin-left: 12px;
}

.toolCard {
  position: sticky;
  top: 25%;
}

.toolName {
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.imgTool {
  position: relative;
}
.imgTool > :first-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.imgTool:hover > :first-child {
  opacity: 1;
}
.img {
  width: 300px;
  object-fit: cover;
  height: 140px;
  object-position: center;
}
