.chatBot {
  display: flex;
  height: 100vh;
}
.chatBot > :first-child {
  flex-shrink: 0;
}
.main {
  background-color: var(--background);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  height: 100vh;
  overflow: auto;
}
.newPrompt {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  justify-content: center;
}

.textShadow {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.textShadow > :first-child {
  margin-right: 16px;
}

.input {
  position: absolute;
  width: 96%;
  bottom: 16px;

  left: 16px;
}
.iconBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 500;
}
